body {
    background: white;
    color: black;
    margin: 0;

    font: 11pt sans-serif;
    text-align: center;
}

p {
    margin: 1em;
}

#GameCanvas {
    margin: 1em;
    background: #e0e0ff;
    border: 1px solid #a0a0a0;
}

#ToolCanvas {
    margin: 1em;
    background: #e0e0ff;
    border: 1px solid #a0a0a0;
}

div.star {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('img/star.png');
    background-repeat: none;
    background-position: 0 0; 
}

div.star.closed {
    background-position: 32px 0; 
}

.clickable {
    cursor: pointer
}
